.searchbar {
    display: flex;
    margin: 2rem;
    border-radius: 10px;
    background-color: black;
    padding: 0.2rem 1rem;
    box-sizing: border-box;
}

.searchquery {
    box-sizing: border-box;
    height: 3rem;
    width: 6rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    flex: 1;
    color: rgb(175, 166, 166);
}

.searchbutton {
    box-sizing: border-box;
    cursor: pointer;
}

.searchresults {
    margin: 0 1rem 2rem 2rem;
}

.searchresultitems {
    display: flex;
    flex-wrap: wrap;
}