.bar {
    /* padding: 0rem 2rem 0 2rem; */
    color: white;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.right {
    padding-top: 2rem;
    padding-right: 1rem;
}

.logo {
    height: 6rem;
}

.signinbtn {
    background-color: rgb(225, 13, 13);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    border: 0;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.signinbtn:hover {
    background-color: rgb(145, 12, 12);
}

.langSelect {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    height: 2rem;
    padding: 0.1rem 2rem;
    margin-right: 2rem;
    border-radius: 8px;
}

@media (max-width: 480px) {
    .logo {
        height: 3rem;
    }

    .bar {
        padding: 0;
    }

    .right {
        padding-top: 0.7rem;
        padding-right: 0.1rem;
    }

    .langSelect {
        margin-right: 0.2rem;
    }
}